/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

#content {
    background-color: #ffffff;
    .title-panel {
        position: relative;
        padding: rem-calc(20) rem-calc(20) rem-calc(80) rem-calc(20);
        background-color: get-color(red-dark);
        color: #ffffff;

        @include breakpoint(medium up) {
            padding: rem-calc(40) rem-calc(40) rem-calc(100) rem-calc(40);
        }

        @include breakpoint(large up) {
            padding: rem-calc(40) rem-calc(75) rem-calc(100) rem-calc(75);
        }

        .title {
            color: #ffffff;
        }
        .sub-title {
            opacity: 0.7;
        }
        
        &:after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 30vw 50px 70vw;
            border-color: transparent transparent #ffffff transparent;
        }
        
    }
    .panel {
        @include xy-grid( 'horizontal', true );
        padding: rem-calc(30) rem-calc(20);
        background-color: #ffffff;
        flex-direction: column-reverse;

        &:nth-child(odd) {
            background-color: #f2f1f0;
            .main {
                order: 2;
            }
            .sub {
                order: 1;
            }
        }
        &.gray {
            background-color: #f2f1f0;
        }
        &.white {
            background-color: #ffffff;
        }
        &.collapse {
            margin: 0;
            padding: 0;
        }
        &.blocks {
            @include xy-grid-layout(1, '.block', false, 0, margin, right left);
            flex-direction: row;

            @include breakpoint(medium up) {
                @include xy-grid-layout(2, '.block', false, 0, margin, right left);
            }
            @include breakpoint(large up) {
                @include xy-grid-layout(3, '.block', false, 0, margin, right left);
            }
            @include breakpoint(xlarge up) {
                @include xy-grid-layout(6, '.block', false, 0, margin, right left);
            }
            .block {
                background-color: #ffffff;
                padding: rem-calc(20);
                h4,
                p {
                    text-align: center;
                }
                h4 {
                    margin-bottom: rem-calc(20);
                }
                p {
                    margin: 0;
                }

                &:nth-child(odd) {
                    background-color: #f2f1f0;
                }
            }
        }
        @include breakpoint(medium up) {
            padding: rem-calc(40) rem-calc(40); 
            flex-direction: row;
        }
        @include breakpoint(large up) {
            padding: rem-calc(60) rem-calc(60);
        }

        .container {
            @include xy-grid-container( $grid-container, 0 );
        }
        .row {
            @include xy-grid( 'horizontal', true );
        }

        .full {
            @include xy-cell( 100%, false );
            width: 100%;
        }
        .main {
            @include xy-cell( 100%, false );
            width: 100%;

            @include breakpoint(large up) {
                @include xy-cell( 60% );
                order: 1;
            }
        }
        .sub {
            @include xy-cell( 100%, false );
            width: 100%;

            @include breakpoint(large up) {
                @include xy-cell( 40% );
                order: 2;
            }
        }

        h2, h3, h4, h5, h6 {
            text-align: center;
            @include breakpoint(medium up) {
                text-align: left;
            }
        }
    }
}

.icon {
    height: 1em;
    width: auto;
}

#content {
    .recent-posts {
        list-style: none;
        margin: 0;
        padding: 0;
        h3 {
            text-align: center;
            @include breakpoint(medium up) {
                text-align: left;
            }
        }
    }
    .panel {
        &:nth-child(odd) {
            .thumbnail .post-thumbnail {
                &:before {
                    border-color: #f2f1f0 transparent transparent transparent;
                }
                &:after {
                    border-color: transparent transparent #f2f1f0 transparent;
                }
            }
        }
    }
    .entry-header {
        margin-bottom: rem-calc(20);
    }
    .entry-footer {
        .cat-links {
            margin-right: rem-calc(20);
        }
    }
    .thumbnail {
        position: relative;
        text-align: center;
        margin-bottom: rem-calc(20);

        @include breakpoint(large up) {
            margin-bottom: rem-calc(0);
        }

        .post-thumbnail {
            position: relative;
            display: inline-block;
            &:before,
             &:after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                animation-duration: 500ms;
            }
            &:before {
                top: -30;
                left: -30;
                border-width: 30px 30px 0 0;
                border-color: #ffffff transparent transparent transparent;
                animation-name: slideinTop;
            }
            &:after {
                bottom: 0;
                right: 0;
                border-width: 0 0 30px 30px;
                border-color: transparent transparent #ffffff transparent;
                animation-name: slideinBottom;
            }

            @keyframes slideinTop {
                from {
                    top: -30px;
                    left: -30px;
                }
                  
                to {
                    top: 0;
                    left: 0;
                }
            }

            @keyframes slideinBottom {
                from {
                    bottom: -30px;
                    right: -30px;
                }
                  
                to {
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
    .post.has-post-thumbnail {
        .title-panel {
            margin-bottom: rem-calc(80);
        }
    }
}


.single #content {
    .entry-header {
        .thumbnail {
            position: relative;
            text-align: center;
            margin-bottom: rem-calc(-180);
            z-index: 9;
            margin-top: rem-calc(20);

            .post-thumbnail {
                position: relative;
                display: inline-block;
                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                }
                &:before {
                    top: 0;
                    left: 0;
                    border-width: 30px 30px 0 0;
                    border-color: get-color(red-dark) transparent transparent transparent;
                }
                &:after {
                    bottom: 0;
                    right: 0;
                    border-width: 0 0 30px 30px;
                    border-color: transparent transparent #ffffff transparent;
                }
            }
        }
    }
}

.posts-navigation {
    .nav-links {
        a {
            @include button();
            margin: 0;
        }
        .nav-previous {
            float: right;
        }
        .nav-next {
            float: left;
        }
    }
}

.screen-reader-text {
    @include hide-for(small);
}