/*--------------------------------------------------------------
# Theme
--------------------------------------------------------------*/

@import 'theme/header';
@import 'theme/nav';
@import 'theme/content';
@import 'theme/footer';

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background-color: #f9f9f9;
    overflow-x: hidden;
}

html {
    &.noscroll {
        overflow: hidden;
    }
}

a {
    transition: color 150ms ease-in-out;
}